svg, input {
  margin: 0 auto;
  display: block;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: floralwhite;
  border: 8px solid #034141;
  border-radius: 15px;
  padding: 15px;
  transition: 1s opacity;
}

.tooltip::before {
  content: " ";
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: #034141;
  top: -30px;
  left: 50%;
  margin-left: 6px;
}