body{
  background-color: #ccc;
}

.container {
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

img {
  max-width: 550px;
  max-height: 250px;
  box-shadow: 1px 1px #ccc;
}

li{
  list-style: none;
}

label{
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

button{
  display: block;
}

.options {
  margin: 10px;
}

.result{
  margin: 20px 0;
  font-size: 1.5em;
}