svg, select,button {
  margin: 0 auto 10px;
  display: block;
}

.tick line {
  stroke: #ccc;
  stroke-dasharray: 10, 5;
}

.tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background-color: floralwhite;
  border: 8px solid #5252ec;
  border-radius: 8px;
  padding: 15px;
  transition: 0.6s opacity;
}

.tooltip p{
    margin: 2px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  border: 12px solid transparent;
  border-top-color: #5252ec;
  bottom: -30px;
  left: 50%;
  margin-left: -6px;
}

.tooltip:after {
  content: ' ';
  position: absolute;
  left: 50%;
  border: 8px solid transparent;
  border-top-color: red;
  bottom: -20px;
  margin-left: -4px;
}