/* APPEARANCE STYLES*/
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");


.box {
  font-size: 50px;
  color: white;
  padding: 10px;
  text-align:center;
  font-family: lato;
  font-weight: 300;
  box-sizing: border-box;
  width: 100px;
}

.box-1 {background: #e51400; }
.box-2 {background: #fa6800;}
.box-3 {background: #f0a30a; }
.box-4 {background: #e3c800; }
.box-5 {background: #a4c400;}
.box-6 {background: #60a917;}
.box-7 {background: #00aba9;}
.box-8 {background: #1ba1e2;} 
.box-9 {background: #aa00ff;}

/*  LAYOUT STYLES */

.container {
  display: flex;
  border: 20px solid black;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 500px;
  flex-wrap: wrap-reverse;
}