<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Todo App | Advanced Web Developer Bootcamp Exercise</title>
    <link rel="stylesheet" href="./styles/app.css">
    <script src="./js/lib/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header>
        <h1>todo<span>list</span></h1>
        <h2>A simple todo list app built with node</h2>
      </header>
      
      <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here...">
      </section>
    
      <ul class="list">
    </ul>
    <script src="./js/app.js"></script>
</body>
</html>