body {
  background-color: #e6ecf0;
}

/* Nav Styles */
.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar li a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand> img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding> .navbar {
  background-image: url("./images/nav-bg.png");
  background-size: 100% 100%;
}

/* Homepage  */

.home-hero {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  background-image: url("./images/signed-out-home.jpg");
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  text-shadow: 0 0 8px #66757f;
}